@font-face {
    font-family: 'MartianGrotesk';
    src: url('../fonts/MartianGrotesk.woff2') format('woff2-variations');
    font-display: swap;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}
