@import 'fonts';

:root {
    --color-bg: #fff;
    --color-text-primary: #2d2e2e;
    --color-text-dimmed: #969696;
    --padding: 20px;
}

*,
*:focus {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    font-family: 'MartianGrotesk', system-ui, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
    padding: 0;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    animation: fadeIn 2s ease;
}

main {
    width: 1000px;
    margin: 10vh 0;
}

header {
    div.avatar img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    h1.greeting {
        font-size: 2rem;
        line-height: 2.6rem;
        font-variation-settings: 'wght' 800;
        a {
            border-bottom: 3px solid var(--color-text-primary);
        }
        .greeting-link-yellow:hover {
            border-color: #e6c41d;
        }
        .greeting-link-gray:hover {
            border-color: #808080;
        }
        .greeting-link-blue:hover {
            border-color: #0072bc;
        }
        .greeting-dimmed {
            color: var(--color-text-dimmed);
        }
    }
}

section.links {
    display: flex;
    align-items: center;
    gap: 20px;
    .link svg {
        width: 50px;
        height: 50px;
        fill: var(--color-text-primary);
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}
