main {
    width: 100%;
    margin: var(--padding);
}

@media screen and (max-width: 400px) {
    header h1.greeting {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media screen and (max-height: 400px) and (orientation: landscape) {
    div.avatar {
        display: none;
    }
}
