@media screen and (max-width: 800px) {
    .name {
        flex-direction: column;
        text-align: center;

        &__block {
            &-name {
                font-size: 2.8em;
            }

            &-description {
                font-size: 0.9em;
            }
        }
    }

    .links {
        gap: 16px;
        &__item {
            padding: 8px 0;
        }
    }
}

@media screen and (max-width: 380px) {
    .name {
        &__block {
            &-name {
                font-size: 2em;
            }

            &-description {
                font-size: 0.7em;
            }
        }
    }

    .links {
        gap: 12px;
        &__item {
            padding: 6px 0;
            font-size: 0.8em;
        }
    }
}
